

<div class="page" >
 



  <div class="wrapper">


 

  <div class="container mt-4 ">
    <div class="columns is-centered ">
      
      <div class="box column is-one-third  ">
        <div>
          <h1 class="has-text-centered">Type Master </h1>
          <p class="has-text-centered has-text-grey">Type following Text:-</p>
      
        </div>
     
  
       <div class="has-text-centered ">
        <span  [class]="compare(letter,enteredText[i])"  *ngFor="let letter of randomText.split(''); let i=index;">{{letter}}</span>
       </div>
  
        <div class="filed">
          <input  #inputBox  [value]="enteredText" type="text" class="input" spellcheck="false" (input)="onChange($event)  " />
        </div>
  
        <div *ngIf="enteredText===randomText" class="box has-text-centered mt-4">
         <div>
          <h4 class="title">Success!</h4>
          <button class="button is-danger" (click)="generateMoreWords($event)">Replay</button>
         </div>
        </div>
      </div>
    </div>
  </div>

</div>

</div>
